@import '../../styles/base-colors.scss';

.container {
  display: flex;
  justify-content: center;

  .searchBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 44px;
    padding: 0px 12px;
    border-radius: 4px;
    background-color: $color-white;
    width: 40%;
    margin-bottom: 2em;

    @media (max-width: 900px) {
      width: 50%;
    }

    @media (max-width: 600px) {
      width: 80%;
    }

    .clearIcon {
      color: $color-dark;
      cursor: pointer;
      font-size: 20px;

      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }

    .inputContainer {
      display: flex;
      align-items: center;
      width: 100%;

      .searchIcon {
        color: $color-gray;
        font-size: 24px;
      }
      
      .searchBar {
        margin-left: 14px;
        outline: none;
        border: none;
        font-size: 15px;
        width: 100%;
      }
    }
  }
}
